<app-header></app-header>
    <section id="promo" class="promo section offset-header">
        <div class="container center">
            <h2 class="title"><span class="highlight">B</span>odima</h2>
            <p class="intro">A free platform for find your next house </p>

            <div class="btns">
                <button class="btn waves-effect waves-light add"  [routerLink]="['/add']">Add
                      <i class="material-icons right">add</i>
                </button>
                <a class="btn waves-effect waves-light search"  [routerLink]="['/search']" id="search">Search Now</a>
            </div>
          
            <ul class="meta list-inline">
               
                <button class="ui inverted blue button  floated">
                <i class="user icon"></i>
                සිංහල 
                </button>

                <button class="ui inverted blue button  floated">
                <i class="user icon"></i>
                English 
                </button>
                
                         <button class="ui inverted blue button  floated disable">
                <i class="user icon"></i>
                தமிழ் 
                </button>

            </ul><!--//meta-->
        </div><!--//container-->
        <div class="social-media">
            <div class="social-media-inner container center">

            </div>
        </div>
    </section><!--//promo-->

         


<app-footer></app-footer>