.add{
    background-color: #f1c40f;
}
.search{
    background-color: #2ecc71;
}

.ui.inverted.blue.buttons .button, .ui.inverted.blue.button {
    background-color: transparent;
    box-shadow: 0px 0px 0px 2px #54C8FF inset !important;
    color: #54C8FF;
}